body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

#form {
  max-width: 240px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 16px 24px;
  border: 1px solid #aaa;
  border-radius: 8px;
  background-color: #eee;
  display: flex;
  flex-direction: column;
}

#password {
  border: 1px solid #ccc;
  padding: 8px 10px;
  border-radius: 4px;
}

#submit {
  margin-top: 16px;
  padding: 8px;
}

#error {
  color: red;
  display: none;
}
